<h1>New game</h1>

<%= @letters %>

<p><strong>What is the longest word you can find?</strong></p>
<form id="form" action="/score" method="post">
  <input type="text" name="word" placeholder="Enter your word">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Play">
</form>
